@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  padding: 0;
  background-color: #843ada;
    color: #f3f720;
}